.mainContainer{
 .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    // height:300px;
    .left{
        height:100%;
        flex:1;
    & > img{
        width: 100%;
    }

    }
    .right{
       height: 100%;
        flex: 1;
        &>img{
            width: 100%;
        }
    }
 }
}